.wrapper__option-description{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.next-question{
  width: 100%;
    margin: 25px 0;
    background-color: #303030;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
    padding: 5px 0;;
    cursor: auto;

    transition: .3s;
}

.next-question_active{
  background-color: #00bc8c;
}